.global-thermostat {
    margin-right: 10px;
}

.global-settings-block {
    margin-top: 10px;
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

.color-grue {
    color: grey;
}

.edit-btn {
    margin-right: 5px;
}

.dropdown-block {
    display: flex;
    align-items: center;
}

.thermostats-with {
    font-size: 18px;
    line-height: 1;
    margin: 0 5px 0 0;
}

.thermostats-block {
    margin-right: 10px;
}

.selected-thermostats-block {
    margin-right: 20px;
}

.control-block {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.copy-row {
    display: flex;
    align-items: center;
    padding: 10px;
}

.copy-row > span:not(:first-child) {
    margin: 0 5px;
}

.copy-row > button {
    margin-left: 15px;
}

.thermostats-setpoint-container {
    padding: 15px;
}

.thermostats-setpoint-container > div:first-child {
    display: inline-block;
    padding: 15px;
    background-color: #f5f5f5;
}

.thermostats-setpoint-container > div:last-child {
    display: flex;
    margin-top: 15px;
}

.thermostats-setpoint-container > div:last-child > div {
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 4px 4px;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    font-size: 14px;
}

.thermostats-setpoint-container > div:last-child > div input {
    max-width: 40px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-left: 5px;
    padding: 0 4px;
}
