.outputs-modes {
    padding: 15px 15px 0;
}

.indicator-name {
    padding-left: 5px;
}

.dimmable-lights {
    padding-top: 20px;
}

.slider-block {
    clear: both;
    margin-top: 10px;
}

.shutter {
    padding-top: 5px;
}

.outputs-visual-view .fa {
    font-size: 46px;
    cursor: pointer;
}

.outputs-visual-view > .box-body > div {
    display: flex;
    align-items: center;
    padding: 15px;
}

.outputs-visual-view > .edit-mode-info {
    margin: 15px;
}

.outputs-visual-view > div > .aurelia-hide {
    display: inline-block;
    opacity: 0;
}

.outputs-visual-view .box-body > div {
    display: flex;
    align-items: center;
}

.outputs-visual-view .box-body {
    display: flex;
    min-height: 700px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.outputs-visual-view .unassigned-container {
    flex-direction: column;
    background: #d8d8d8;
    margin-top: 25px;
    width: 100%;
    padding: 25px;
}

.outputs-visual-view .unassigned-container > div {
    display: flex;
    flex-wrap: wrap;
}

.outputs-visual-view .unassigned-container > div > input {
    margin-left: 10px;
}

.outputs-visual-view .unassigned-container .unassigned-item {
    margin: 0 5px 20px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outputs-visual-view .unassigned-container .unassigned-item > .indicator {
    position: relative;
}

.outputs-visual-view .unassigned-container .unassigned-item > i:not(.fa) {
    margin-top: 5px;
}

.outputs-visual-view .fa-spin {
    align-self: center;
    font-size: 90px;
    margin-top: 150px;
}

.image-wrapper {
    position: relative;
    width: 669px;
    margin: 15px 15px 0;
}

.locked-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
