{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import"
],
  "presets": [
  ["env",
    {
      "targets": {
        "node": "current"
      }
    }],
  "jest"
  ]
}
