<!DOCTYPE html>
<html>
<head>
    <title><%= webpackConfig.metadata.title %></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base href="<%= webpackConfig.metadata.baseUrl %>">
    <link rel="icon" type="image/png" href="images/logo_s.png"/>
    <!--<script src="node_modules/node-blockly/blockly/blockly_compressed.js"></script>
    <script src="node_modules/node-blockly/blockly/blocks_compressed.js"></script>
    <script src="node_modules/node-blockly/blockly/lua_compressed.js"></script>
    <script src="node_modules/node-blockly/blockly/msg/js/en.js"></script>-->
</head>

<body aurelia-app="main" class="hold-transition skin-green lockscreen sidebar-mini">
<div class="lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <img src="images/logo_l.png"/><br/>
            <b>OpenMotics</b> Gateway<br/>
            <i class="fa fa-spinner fa-spin text-center"></i>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; 2016 <b><a href="http://openmotics.com" class="text-black">OpenMotics</a></b><br>
            All rights reserved - License: AGPL v3
        </div>
    </div>
</div>
<div id="device-xs" class="visible-xs"></div>
<div id="device-sm" class="visible-sm"></div>
<div id="device-md" class="visible-md"></div>
<div id="device-lg" class="visible-lg"></div>
<% if (webpackConfig.metadata.ENV === 'development') { %>
    <script src="/webpack-dev-server.js"></script>
<% } %>
</body>
</html>
