<!--
Copyright (C) 2016 OpenMotics BVBA

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html>
<head>
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#008d4c">
    <link rel="icon" href="/static/favicon.ico" />
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>

<body class="hold-transition skin-green lockscreen sidebar-mini" aurelia-app="main">
<div class="lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <div class="om-splash-logo"></div>
            <strong>OpenMotics</strong><br/>
            <i class="fa fa-spinner fa-spin text-center"></i>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; <strong><a href="http://openmotics.com" target="_blank" class="text-black">OpenMotics</a></strong><br>
            All rights reserved - License: AGPL v3
        </div>
    </div>
</div>
<% if (htmlWebpackPlugin.options.metadata.server) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>
</body>
</html>
