dropdown {
    margin-right: 8px;
}

.control-buttons {
    display: flex;
    justify-content: flex-end;
}

.control-buttons > toggle-button {
    margin-right: 8px;
}

.file-upload {
    margin-left: 0;
}

.callout {
    margin-bottom: 0;
}

.log-block {
    max-height: 400px;
    overflow-y: scroll;
}

.app-footer {
    display: flex;
    justify-content: flex-end;
}

.app-footer .install-button {
    margin-left: 10px;
}

.app-footer > span {
    display: flex;
}

.app-footer > span > div:last-child {
    margin-left: 10px;
    height: 34px;
}
