.all-lights-font {
    font-size: 13px;
}

.more-info {
    color: #fff;
    display: inline-block;
    text-align: right;
    width: 100%;
}

.full-width {
    width: 100%;
}

.floor {
    display: flex;
    flex-direction: column;
    margin: 0 15px 15px;
}

.active-lights {
    margin-bottom: 0;
}

.image-wrapper {
    position: relative;
    width: 300px;
    margin-top: 15px;
}

.indicator {
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
