.content {
    clear: both;
}

.title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 18px;
    line-height: 1;
}

.title > dropdown {
    margin-left: 5px;
}

.box-footer button {
    margin-right: 5px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
