.content {
    clear: both;
}

.content .automatic-time label {
    cursor: pointer;
    margin: 0 15px 0 0;
}

.content .automatic-time input {
    cursor: pointer;
    margin: 0;
}

.content .automatic-time {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.custom-time-section {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.custom-time-section > div {
    margin-bottom: 10px;
}

.custom-time-section > div > label {
    min-width: 100px;
}

.custom-time-section > div {
    display: flex;
    align-items: center;
}

.custom-time-section > button {
    width: 100px;
}

.box-header > .box-title {
    line-height: normal;
}

thead > tr > th:nth-of-type(2) {
    width: 200px;
}

thead > tr > th:nth-of-type(3) {
    width: 400px;
}

thead > tr > th:nth-of-type(4) {
    width: 120px;
}

thead > tr > th:nth-of-type(5) {
    width: 70px;
}

.backups-page .form-group {
    margin-bottom: 0;
}

.form-group > div:last-child {
    padding: 0;
}

.padding-left {
    padding-left: 10px;
}
