/* AdminLTE */

.alert-info:not(.fc-day-top) {
    background-color: rgba(0, 166, 90, 0.2) !important;
}

.alert-info {
    color: #444 !important;
    background-color: rgba(0, 166, 90, 0) !important;
}

/* FullCalendar */
.fc-center > h2 {
    font-size: 18px;
    margin-top: 4px;
}

.fc-header-toolbar {
    margin-bottom: 4px;
}

.fc-highlight {
    background: #00a65a;
    opacity: .1;
}

.fc.fc-bootstrap3 a[data-goto]:hover {
    text-decoration: none
}