.floors-page .table {
    background: #fff;  
}

.floors-page .table > tbody {
    position: relative;
}

.floors-page .spinner-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floors-page .spinner-overlay > i {
    font-size: 32px;
}

.floors-page .table > tbody > tr > td {
    vertical-align: middle;
}

.floors-page .table .close {
    top: 2px;
    float: initial;
    position: relative;
    margin-left: 5px;
}

.selected-row {
    background-color: #f5f5f5;
}

.remove-block {
    display: flex;
    justify-content: flex-end;
    min-width: 250px;
    padding-right: 15px;
}

.floors-page .table > thead {
    font-weight: bold;
}

.sort-block {
    display: flex;
    justify-content: center;
}

.new-floor-block {
    display: flex;
    align-items: center;
}

.new-floor-block > i {
    margin-right: 10px
}

.loading-block {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.description {
    padding: 15px 15px 0;
}

.loading-block > i {
    font-size: 48px;
}

.room-image-add-block > h3 {
    margin-top: 40px;
}

.select-file-block {
    display: flex;
}

.select-file-block > label {
    margin-right: 15px;
}

.upload-block {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.upload-block > p {
    margin: 0 15px 0 0;
}

.adding-floor {
    margin: 15px 0 0 15px;
}

.room-table thead tr > td, .room-table tbody tr > td {
    padding-left: 15px;
}

.room-table tbody > tr:last-child td {
    display: flex;
    align-items: center;
    max-width: 300px;
}

.room-table tbody > tr:last-child td > i {
    margin-right: 10px;
}

.current-image-block {
    min-height: auto;
    padding-bottom: 0;
}

.current-image-block > img {
    max-height: 1024px;
    max-width: 100%;
}

.current-image-block > p {
    margin-bottom: 0;
}

.current-image-info {
    padding-top: 0;
}

.rooms-add-info {
    margin: 10px;
    display: inline-block;
}
