.chart {
	display: block;
}

.export-block > a {
	cursor: pointer;
}

.export-block > pre {
	margin-top: 15px;
}

.export-block > b {
    margin-bottom: 15px 0 10px;
    display: inline-block;
}

.export-block .dates-block {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.export-block .dates-block > span:not(:first-child) {
	display: flex;
	align-items: center;
	margin: 0 15px;
}

.summary-energy {
	display: block;
	margin-bottom: 15px;
}

.detail-chart > .chart {
	margin-top: 60px;
    margin-left: 15px;
    width: 80%;
}

.history-date-picker {
	display: flex;
	align-items: center;
	max-width: 500px;
	margin-bottom: 25px;
}

.history-date-picker > span:first-child {
	min-width: 100px;
}

.history-date-picker > span:not(:first-child) {
	margin: 0 15px;
}

.row-block {
	display: flex;
}

.row-block > * {
	flex: 1;
}

.detail-chart > .loading-block {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.detail-chart > .loading-block > i {
    font-size: 90px;
}

.consumption-list {
	display: flex;
}

.consumption-list > .consumption-list-item {
	display: flex;
	width: 250px;
	background-color: #fff;
    padding: 15px;
    margin-right: 10px;
    font-size: 14px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.consumption-list > .consumption-list-item > div {
	display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.consumption-list > .consumption-list-item h4 {
	margin-top: 0;
    font-weight: 600;
    font-size: 16px;
}
