.suppliers-settings-table tr {
    cursor: pointer;
}

.suppliers-settings-table .peak-time-block {
    max-width: 200px;
}

.suppliers-settings-table .double-block {
    display: flex;
}

.suppliers-settings-table .double-block > label {
    margin-right: 5px;
}

.suppliers-settings-table .edit-btn {
    margin-right: 10px;
}
