.label-row {
    display: flex;
    flex-wrap: wrap;
}

.label-row > div {
    margin-right: 15px;
    display: flex;
}

.label-row * {
    cursor: pointer;
}

.label-row input {
    margin-right: 5px;
}
