/* OpenMotics */
.hand {
    cursor: pointer;
}

/* AdminLTE */
.main-header {
    z-index: 999 !important;
}

/* Aurelia */
ai-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}
