/* OpenMotics */
.hand {
    cursor: pointer;
}

.energy-large {
    font-size: 2vw;
}

.energy-small {
    font-size: 1vw;
}

@media (max-width: 767px) {
    .energy-large {
        font-size: 25px;
    }

    .energy-small {
        font-size: 12px;
    }
}

/* AdminLTE */
.main-header {
    z-index: 999 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #00a65a !important;
}

/* Aurelia */
ai-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}
