/* OpenMotics */
.hand {
    cursor: pointer;
}

.energy-large {
    font-size: 35px;
}

.energy-small {
    font-size: 15px;
}

@media (max-width: 767px) {
    .energy-large {
        font-size: 25px;
    }

    .energy-small {
        font-size: 12px;
    }
}

/* AdminLTE */
.main-header {
    z-index: 999 !important;
}

/* Aurelia */
ai-dialog-overlay.active {
    background-color: black;
    opacity: .5 !important;
}
