.content {
    clear: both;
}

dropdown {
    margin-left: 8px;
}

.margin-right {
    margin-right: 5px;
}

.margin-left {
    margin-left: 5px;
}

.small-btn {
    height: 26px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introductory-text {
    margin: 10px 0 0 0;
}

.output-box {
    position: relative;
}

.output-shutter-pair {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.pair {
    position: relative;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.pair::after {
    content: '';
    position: absolute;
    width: calc(100% + -5px);
    height: calc(100% + -2px);
    top: -4px;
    left: 5px;
    border: 1px solid #00a65a;
    border-radius: 3px;
}

.locked-icon {
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.5);
}
